Django
djangorestframework
djangorestframework-simplejwt
firebase-admin
requests
celery
redis
python-decouple
django-cors-headers
django-extensions
python-dateutil
pytz
cryptography
sentry-sdk
gunicorn
